<article class="design-card" data-tags="{{ page.extra.tags | default(value=[]) | join(sep=',') }}">
  <div class="design-card__image">
    {% if page.extra.thumbnail %}
    <img src="{{ page.extra.thumbnail }}" alt="{{ page.title }}" />
    {% endif %}
  </div>
  <div class="design-card__info">
    <div class="design-card__text">
      <h3 class="design-card__name">{{ page.title }}</h3>
      {% if page.extra.summary %}
      <p class="design-card__desc">{{ page.extra.summary }}</p>
      {% endif %}
      {% if page.extra.tags %}
      <div class="design-card__tags">
        {% for tag in page.extra.tags %}
        <span class="design-card__tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <a href="{{ page.permalink }}" class="design-card__arrow" aria-label="View {{ page.title }}">
      {% include "partials/svg/icon-arrow.html" %}
    </a>
  </div>
</article>
